
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1080px;
    margin: auto;
    padding: 20px;
}
.logo {
    height: 200px;
    width: 200px;
    margin-top: 20px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.hero-text h1 {
    font-size: 2em;
    color: #003366;
}
.hero-text p {
    font-size: 1.2em;
    color: #444;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.hero-img img {
    border-radius: 10px;
    width: 180px;
}
.about {
    margin-top: 40px;
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #003366;
    color: white;
}

.navbar {
    background-color: #003366;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
}
.navbar a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}
.navbar a:hover {
    background-color: #005599;
    border-radius: 4px;
}
